#navtab
{
    /* display:flex;
    flex-direction: column;
    padding: 30px ;
    position: fixed ;
    
justify-content: center;
z-index: 1;
align-items: center; */
width: 100%;
height: auto;
}


@media (max-width: 480px) {
  .navtab{

    display:flex!important;
    flex-direction: column!important;
    padding: 30px !important;
    position: fixed !important;
  width: 100%!important;
  justify-content: center!important;
  align-items: center!important;
  
  }
  
}







.navtab{

  display:flex;
  flex-direction: column;
  padding: 30px ;
  position: fixed ;
width: 100%;   
justify-content: center;
z-index: 101;
align-items: center;

}

.navtabspacing {

  height: 110px;
   width: 100% ;
  display:flex;
  flex-Direction:row;


}

 .tabscontent {
     display: none;

    
  } 

  .tab {
    background-color: rgba(232, 229, 228, 0.5);
    border-radius: 100px;
    padding: 4px;
    gap: 4px;
    width: 300px;
    height: 48px;
    align-items: center;
    display: flex;
    /* z-index: 1; */
    flex-flow: row;
    backdrop-filter: blur(16px);


   
  }

  /* Style the buttons inside the tab */
.tab button {
    background-color: initial;
    float:  center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 11px;
    transition: 1s;
    font-size: 14px;
    border-radius: 40px;
    width: 100%;
    font-family: 'Neue Montreal Regular', serif;
  }
  

  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #9433c9 !important;
  }
  /* เพิ่มสไตล์สำหรับแท็บที่ active */

  /* Create an active/current tablink class */
  .tablinks.active {
    background-color: #ffffff;
  }


